body{
    background-color: rgb(76, 47, 79);
  }
  .LoginComponent{
      background-color: black;
      color: beige;
  }
  .login-container {
      max-width: 400px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .login-heading {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    
    .login-input {
      width: 80%; /* Adjust the width as needed */
      margin-bottom: 15px;
    }
    
    .login-button {
      width: 100%;
    }
  
